*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    color: $text;

    &.noscroll {
        overflow: hidden;
    }
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

main {
    @include breakpoint-up(large) {
        max-width: 72.5rem;
        margin: auto;
    }
}

button,
.button {
    position: relative;
    background-image: linear-gradient(#EA7500, #DB3600);
    // background-image: linear-gradient(to left, #E86D01, #EA7500, #DB3600);
    // background-size: 400%;
    color: $white;
    cursor: pointer;
    border: none;
    border-radius: .625rem;
    box-shadow: 0 .25rem .25rem 0 rgb(0 0 0 / 25%);

    padding: 10px 20px;
    font-size: 1.25rem;
    line-height: 1.5625rem;
    font-weight: 500;

    transition: box-shadow 0.2s ease-in-out;

    &:hover,
    &:focus {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        background: #E86D01;
    }
}

a {
    color: $link;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;

    transition: color 0.3s ease-in-out;

    @include breakpoint-up(medium) {
        font-size: 1.125rem;
        line-height: 1.4375rem;
    }
}

h1 {
    font-size: 1.75rem;
    line-height: 2.1875rem;

    @include breakpoint-up(medium) {
        font-size: 2.8125rem;
        line-height: 3.75rem;
    }

    @include breakpoint-up(large) {
        font-size: 3.725rem;
        line-height: 4.6875rem;
    }
}

h2 {
    font-size: 1.75rem;
    line-height: 2.1875rem;

    @include breakpoint-up(medium) {
        font-size: 2.25rem;
        line-height: 2.8125rem;
    }

    @include breakpoint-up(large) {
        font-size: 3.75rem;
        line-height: 4.0625rem
        // line-height: 4.6875rem;
    }
}

h2.section--heading {
    color: $darker;
    text-align: center;
    font-weight: 900;
    position: relative;
    overflow: hidden;

    >span {
        position: relative;
        display: inline-block;

        @include breakpoint-up(large) {
            padding-left: 1.25rem;
            padding-right: 1.25rem;

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                border-bottom: 1px solid #D9D9D9;
                width: 100vw;
                margin: 0 20px;
            }

            &::before {
                right: 100%;
            }

            &::after {
                left: 100%;
            }
        }
    }
}

h3 {
    font-weight: 900;
}

// Text align
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

// text color
.text-white {
    color: #fff;
}

// font-weight
.text-light {
    font-weight: 300;
}

.text-normal {
    font-weight: 400;
}

.text-bold {
    font-weight: 700;
}

.text-extra-bold {
    font-weight: 800;
}

.text-2x-bold {
    font-weight: 900;
}

// text size
.text-small {
    font-size: .875rem;
    line-height: 1.375rem;
}

// text transform
.uppercase {
    text-transform: uppercase;
}

// nowrap
.nowrap {
    white-space: nowrap;
}

// // box shadow
// .no-shadow {
//     box-shadow: none !important;
// }

// Visibility
.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none !important;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}

.container {
    max-width: 72.5rem;
    margin: auto;

    &--px {
        padding-left: 1.25rem;
        padding-right: 1.25rem;

        @include breakpoint-up(large) {
            padding-left: 3.75rem;
            padding-right: 3.75rem;
        }
    }

    &--py {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    &--full {
        @include breakpoint-up(large) {
            width: 95%;
            max-width: 65rem;
            margin: 0 auto;
        }
    }
}

// Flexbox
.flex {
    display: flex;

    &-jc-c {
        justify-content: center;
    }

    &-jc-end {
        justify-content: end;
    }

    &-jc-sb {
        justify-content: space-between;
    }

    &-ai-c {
        align-items: center;
    }

    &-wrap {
        flex-wrap: wrap;
    }
}

.label {
    background-color: $niceGreen;
    color: $white;
    border-radius: .5rem;
    padding: .25rem .3125rem;
    font-weight: 800;
    font-size: 1rem;
    line-height: 1.375rem;

    @include breakpoint-up(medium) {
        font-size: 1.25rem;
        line-height: 1.5625rem;
    }
}