.results {
    padding-top: .9375rem;
    padding-bottom: 2.5rem;

    @include breakpoint-up(large) {
        padding-top: 1.875rem;
    }

    > *:not(:first-child) {
        margin-top: 1.875rem;

        @include breakpoint-up(large) {
            margin-top: 2.5rem;

            &.results__content {
                margin-top: 1.875rem;
            }
        }
    }

    &__content {
        background-color: $ligherGreen;
        color: $niceGreen;
        text-align: center;
        font-size: 1rem;
        line-height: 1.375rem;
        padding: 1.875rem 1.25rem;
    
        @include breakpoint-up(large) {
            border-radius: 1.25rem;
            font-size: 1.25rem;
            line-height: 1.75rem;
            padding: 1.875rem 3.75rem;
        }
    
        @include breakpoint-up(xlarge) {
            padding: 1.875rem 8.125rem;
        }

        h2 {
            font-weight: 900;
            padding-bottom: .3125rem;
            
            @include breakpoint-up(large) {
                font-size: 2.25rem;
                line-height: 2.8125rem;
            }
        }

        .label-wrapper {
            @include breakpoint-down(medium) {
                display: block;
            }
        }
    
        .label {
            display: inline-block;
            margin: .25rem 0 0;
        }
    }

    &__subheading {
        @include breakpoint-down(small) {
            margin: 0 -0.5rem;
        }
    }

    &__subtext {
        margin-top: .25rem;
    }

    &__grid {
        padding-top: 1.25rem;

        @include breakpoint-up(medium) {
            display: flex;
            padding-top: 1.875rem;
        }
    }

    &__item {
        flex: 1;

        @include breakpoint-down(small) {
            border-top: 2px solid #D1F8BA;
            padding: 1.25rem 0;
        }

        &:first-child {

            @include breakpoint-up(medium) {
                border-right: 2px solid #D1F8BA;
                padding-left: .625rem;
                padding-right: 1.875rem;
                // max-width: 20.5625rem;
            }

            @include breakpoint-up(large) {
                max-width: 22.5625rem;
            }
        }

        &:last-child {
            padding-bottom: 0;

            @include breakpoint-up(medium) {
                padding-left: 1.875rem;
                padding-right: .625rem;
            }
        }

        // apply consistent top margin to all child
        &>*:not(:first-child) {
            margin-top: .3125rem;

            @include breakpoint-up(medium) {
                margin-top: .625rem;
            }
        }

        &-heading,
        &-text {
            color: $text;
        }

        &-heading {
            color: $darker;
            font-size: 1.125rem;
            line-height: 1.4375rem;
            text-transform: uppercase;

            @include breakpoint-up(medium) {
                font-size: 1.25rem;
                line-height: 1.75rem;
            }
        }

        &-percent {
            display: inline-flex;
            align-items: center;

            border-radius: 6.25rem;
            padding: .3125rem .625rem;
            font-size: 1.75rem;
            line-height: 2.1875rem;
            font-weight: 200;
            background-color: $niceGreen;
            color: #fff;

            @include breakpoint-up(medium) {
                font-size: 2.625rem;
                line-height: 3.3125rem;
                padding: .625rem;
            }

            &.percent_sm {
                @include breakpoint-up(medium) {
                    margin-top: 2.8125rem;
                }

                @include breakpoint-up(large) {
                    font-size: 1.75rem;
                    line-height: 2.1875rem;
                    margin-top: 4.5625rem;

                    >span {
                        font-size: 2.625rem;
                        line-height: 3.3125rem;
                    }
                }
            }

            &.percent_lg {
                padding: .625rem 1.25rem;
                line-height: 3.3125rem;

                >span {
                    font-size: 2.625rem;
                }

                @include breakpoint-up(medium) {
                    >span {
                        font-size: 4.5rem;
                        line-height: 6.125rem;
                    }
                }

                @include breakpoint-up(large) {
                    font-size: 4.5rem;
                    line-height: 5.625rem;

                    >span {
                        font-size: 6.25rem;
                        line-height: 7.875rem;
                    }
                }
            }
        }

        .circle {
            display: inline-block;
            width: 1.25rem;
            height: 1.25rem;
            border-radius: 50%;
            border: 3px solid $niceGreen;

            &-filled {
                background: $niceGreen;
            }

            &:not(:first-child) {
                margin-left: .25rem;
            }
        }

        .circle-wrap {
            margin-right: .625rem;
        }
    }

    &__winrate {
        font-size: 1.0625rem;
        line-height: 1.75rem;
    }
}