.profile {
    text-align: center;
    padding: 0 2rem;
    gap: 1.8125rem 1rem;

    @include breakpoint-up(large) {
        flex-wrap: nowrap;
        padding-left: 1.6875rem;
        padding-right: 1.6875rem;
    }

    @include breakpoint-up(xlarge) {
        display: grid;
        gap: 1.8125rem 1.875rem;
        grid-template-columns: repeat(3, 137px) 106px 129px 69px 90px;
    }

    &__item {
        flex: 1 0 47%;

        @include breakpoint-up(medium) {
            flex: 1 0 33.33%;
        }

        @include breakpoint-up(large) {
            flex: 1;
            padding-bottom: 0;
        }

        >*:not(:first-child) {
            margin-top: .25rem;
        }

        &:last-child {
            display: flex;
            justify-content: center;
            align-items: center;

            @include breakpoint-up(large) {
                display: block;
            }

            >img {
                margin: 0 .25rem;

                @include breakpoint-up(large) {
                    margin-top: .125rem;
                    padding: 10px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            .profile__text {
                margin-top: 0;
            }
        }

        &--wlimit {
            @include breakpoint-up(large) {
                max-width: 6.1875rem;
            }
        }
    }

    &__item-heading {
        color: $darker;
        font-size: 1.125rem;
        line-height: 1.4375rem;
        font-weight: 900;
    }

    &__photo {
        border: 8px solid $darker;
        border-radius: 1.25rem;
        margin: 0 auto;

        @include breakpoint-up(large) {
            width: 130px;
            height: auto;
        }
    }

    &__ltext {
        color: $darker;
        font-size: 42px;
        line-height: 53px;
        font-weight: 900;
    }

    &__text {
        font-size: .875rem;
        line-height: 1.125rem;

        @include breakpoint-up(medium) {
            font-size: 1.125rem;
            line-height: 1.4375rem;
        }
    }

    &__label {
        background-color: $darker;
        display: inline-block;
        font-size: 1.125rem;
        line-height: 1.4375rem;
        font-weight: 300;
        padding: .125rem .3125rem;

        @include breakpoint-up(large) {
            font-size: 1.25rem;
            line-height: 1.5625rem;
        }
    }

    a {
        display: block;
        font-size: 1.125rem;
        line-height: 1.4375rem;
    }
}