// Colors
$greenLisht: #90C288;
$niceGreen: #30B11B;
$nicerGreen: #3CD796;
$ligherGreen: #EDFFE2;
$link: #EA7500;

$grey: #C4C4C4;
$text: #555555;
$darker: #333333;
$white: #fff;

// Font Sizes
// $font-sm: 0.875rem; // 14px
// $font-med: 1.125rem; // 18px